/**
 * Tokens
 * ⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺
 */

:root {
  /**
   * Typography.
   */

  --root-font-size: 1rem;
  --font-size-large: calc(var(--root-font-size) + 2px);
  --font-size-largex: calc(var(--root-font-size) + 4px);
  --font-size-large2x: calc(var(--root-font-size) + 6px);

  /**
   * Spacing.
   *
   * Base: 16 (root font size)
   * Smaller: 12, 8, 4
   * Larger: 20, 24, 28, 32, 40, 48, 56
   */

  --spacing-small2x: calc(var(--root-font-size) / 4);
  --spacing-smallx: calc(var(--root-font-size) / 2);
  --spacing-small: calc(var(--root-font-size) - 4px);
  --spacing-base: var(--root-font-size);
  --spacing-large: calc(var(--root-font-size) + 4px);
  --spacing-largex: calc(var(--root-font-size) + 8px);
  --spacing-large2x: calc(var(--root-font-size) + 12px);
  --spacing-large3x: calc(var(--root-font-size) + 16px);
  --spacing-large4x: calc(var(--root-font-size) + 20px);
  --spacing-large5x: calc(var(--root-font-size) + 28px);
  --spacing-large6x: calc(var(--root-font-size) + 36px);
}

/**
 * Main root
 * ⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺
 */

html {
  padding: var(--spacing-base) var(--spacing-large);
}

/**
 * Inline text semantics
 * ⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺
 */

a {
  text-decoration-skip: ink;
}

a:focus,
a:hover {
  text-decoration: none;
}

/**
 * Logo
 * ⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺
 */

.logo {
  font-size: var(--font-size-large2x);
  font-weight: 600;
}

h1 {
  display: flex;
  margin-bottom: var(--spacing-base);
}

h1 span {
  margin-left: 0.5ch;
}

h1 a {
  color: #eee;
  font-size: 0.9em;
  font-weight: 300;
  margin-left: -1.5ch;
  order: -1;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

h1 a:focus,
h1 a:hover {
  color: black;
}

body > section:not(:last-of-type) {
  margin-bottom: 6em;
}

body > section > article:not(:last-of-type) {
  margin-bottom: 2em;
}

body > section > article > section:not(:last-of-type) {
  margin-bottom: 1em;
}

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
}

.grid > * {
  border: 1px dotted gainsboro;
  padding: 1em;
}

.grid h1 {
  margin-bottom: 0.5em;
}

.grid h2 {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

.font-size-small {
  font-size: var(--font-size-small);
}
