/**
 * Forms
 * ⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺
 */

/*
 * Override normalize.css's opinionated styles, `line-height` is set to
 * 'normal' as that's what most user-agents use.
 * See: https://github.com/necolas/normalize.css/issues/694.
 */

button,
input,
optgroup,
select,
textarea {
  line-height: normal;
}

/*
 * 1. Remove noticeable visual user-agent styles so we have a clean slate.
 * 2. Remove rounded corners that iOS applies to all `<input>` buttons.
 */

[type="submit"],
[type="button"],
[type="reset"],
button {
  background: transparent; /* 1 */
  border: 0; /* 1 */
  border-radius: 0; /* 2 */
  margin: 0; /* 1 */
  padding: 0; /* 1 */
}

/*
 * 1. Remove top inner shadow that iOS applies to all textual inputs.
 *    ✌︎ Credit
 *    https://davidwalsh.name/input-shadows-ipad
 * 2. Remove padding (mostly 1px) that most user-agents apply to all textual
      inputs.
 */

[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"] {
  background-clip: padding-box; /* 1 */
  padding: 0; /* 2 */
}

/*
 * Disable horizontal resizing.
 */

textarea {
  resize: vertical;
}

/**
 * Override a `<fieldset>`s default `min-width: min-content;` with the more
 * standard `min-width: 0;` so it renders as a block element would.
 *
 * ✌︎ Credit
 * https://thatemil.com/blog/2015/01/03/reset-your-fieldset.
 */

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/**
 * Remove the clear field button (an "X" icon) and the reveal password button
 * (an "eye" icon) that is generated by IE 10+ for textual inputs.
 * See: http://stackoverflow.com/a/21869433/1116204.
 */

::-ms-clear,
::-ms-reveal {
  display: none;
}

/**
 * Un-style the caret for `<select>` lists in IE 10+.
 */

::-ms-expand {
  background-color: transparent;
  border: 0;
}

/**
 * Fixes a bug in Safari Mobile 7.0+ where click events aren't fired on
 * elements that aren't typically interactive.
 * See: https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile.
 */

[role="button"] {
  cursor: pointer;
}
