/*
 * Apply the nicer `border-box` value to make life easier when sizing elements.
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * Remove margins, paddings, and borders from all elements except `<input>` so
 * that everything is on an even playing field.
 */

*:not(input) {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * Prevents an unwanted focus outline from appearing around elements that might
 * still respond to pointer events.
 *
 * NOTE: It's okay to use `!important` here as we're doing it preemptively,
 * i.e., we always want this rule to take precedence.
 */

/* stylelint-disable-next-line a11y/no-outline-none */
[tabindex='-1']:focus {
  outline: none !important;
}

/**
 * Removes the outline in cases where the UA determines via heuristics that the
 * focus should not be visible. This is mainly for ensuring that a focus
 * indicator (a "focus ring") does not render for mouse users.
 */

/* stylelint-disable-next-line a11y/no-outline-none */
*:focus:not(:focus-visible) {
  outline: none;
}

/**
 * Removes any animations or transitions for users who have notified their
 * system that they prefer an interface that minimises the amount of movement or
 * animation. Preferably to the point where all non-essential movement is
 * removed.
 *
 * NOTE: It's okay to use `!important` here as we're doing it pre-emptively,
 * i.e., we always want these rules to take precedence.
 */

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    scroll-behavior: auto !important;
    transition: none !important;
  }
}

/**
 * Print styles.
 */

@media print {
  /**
   * 1. Remove styles that are poor for printing.
   * 2. Black prints faster.
   *
   * NOTE: It's okay to use `!important` here as we're doing it pre-emptively,
   * i.e., we always want these rules to take precedence.
   */

  *,
  *::after,
  *::before {
    background: transparent !important; /* 1 */
    box-shadow: none !important; /* 1 */
    color: black !important; /* 2 */
    text-shadow: none !important; /* 1 */
  }
}
