/**
 * Remove margin from all elements that have it applied by default.
 */

blockquote,
figure,
form,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol {
  margin: 0;
}

/**
 * Apply OpenType features to elements that use a monospaced font:
 * - Remove kerning.
 * - Remove common ligatures.
 * - Remove standard ligatures
 * - Apply lining numerals.
 * - Apply tabular numerals.
 * - Apply slashed zero.
 *
 * NOTE: See the "OpenType features" section in the README.md.
 */

code,
kbd,
pre,
samp {
  font-feature-settings: 'kern' 0, 'liga' 0, 'clig' 0, 'onum' 0, 'pnum' 0,
    'tnum', 'lnum', 'zero';
  font-kerning: none;
  font-variant-ligatures: contextual;
  font-variant-numeric: lining-nums tabular-nums slashed-zero;
}

/**
 * Avoid 300ms click delay on touch devices that support the `touch-action` CSS
 * property.
 *
 * @credit
 * - http://caniuse.com/#feat=css-touch-action
 * - http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 * - https://adactio.com/journal/10019
 * - https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex]:not([tabindex='-1']) {
  touch-action: manipulation;
}
