/*
 * Using a block display, make all embedded elements responsive by default.
 *
 * @credit https://github.com/jensimmons/cssremedy
 */

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  max-width: 100%;
}

/*
 * Maintain intrinsic aspect ratios when `max-width` is applied (`iframe`,
 * `embed`, and `object` have no intrinsic ratio; their height gets applied
 * explicitly).
 *
 * @credit https://github.com/jensimmons/cssremedy
 */

img,
svg,
video,
canvas {
  height: auto;
}

/*
 * Remove the default `300px` width, especially as audio files are unlikely to
 * come with a `width` attribute.
 *
 * @credit https://github.com/jensimmons/cssremedy
*/

audio {
  width: 100%;
}
