/*
 * Apply a more readable underline for links.
 */

a {
  text-decoration-skip-ink: auto;
}

/*
 * The majority of the time, italic formatting is not desired.
 */

em {
  font-style: normal;
}

/*
 * Override sanitize.css's 80% font size to be 100% as the majority of the time
 * a smaller font size is not desired.
 */

small {
  font-size: 100%;
}

/**
 * Apply a more suitable treatment to superscript and subscript text if it's
 * supported.
 */

@supports (font-variant-position: sub) and (font-variant-position: super) {
  sub,
  sup {
    vertical-align: inherit;
  }

  sub {
    font-variant-position: sub;
  }

  sup {
    font-variant-position: super;
  }
}
