/**
 * 1. Set the font family of the entire document to use 'system-ui'.
 * 2. Set the font size of the entire document using the default user-agent
 *    size, which is typically 16px.
 * 3. Increase the line height from normalize.css's small '1.15' value. The
 *    larger '1.5' value is recommended by the W3C Web Accessibility Initiative.
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; /* 1 */
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'onum', 'pnum'; /* 2 */
  font-kerning: normal; /* 2 */
  font-size: 1rem; /* 3 */
  font-variant-ligatures: common-ligatures contextual; /* 2 */
  font-variant-numeric: oldstyle-nums proportional-nums; /* 2 */
  line-height: 1.5; /* 4 */
}
