/**
 * 1. Apply OpenType features globally:
 *    - Apply kerning.
 *    - Apply common ligatures.
 *    - Apply standard ligatures
 *    - Apply contextual ligatures.
 *    - Apply proportional numerals.
 *    - Apply old-style numerals.
 *    NOTE: If any of the `font-feature-settings` values are not required on
 *    child elements, e.g.: `<td>`, then you have to turn them off explicitly.
 *    Also, see the "OpenType features" section in the README.md.
 * 2. Set the global font size using the standard user-agent size, which is
 *    typically 16px.
 */

html {
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'onum', 'pnum'; /* 1 */
  font-kerning: normal; /* 1 */
  font-size: 1rem; /* 2 */
  font-variant-ligatures: common-ligatures contextual; /* 1 */
  font-variant-numeric: oldstyle-nums proportional-nums; /* 1 */
}
