/*
 * Remove user-agent styles.
 */

th {
  font-weight: normal;
  text-align: left;
  text-align: start;
}

/**
 * Apply OpenType features to table cells:
 * - Remove proportional numerals.
 * - Remove old-style numerals
 * - Apply lining numerals.
 * - Apply tabular numerals.
 * - Apply slashed zero.
 *
 * NOTE: See the "OpenType features" section in the README.md.
 */

td {
  font-feature-settings: 'onum' 0, 'pnum' 0, 'lnum', 'tnum', 'zero';
  font-variant-numeric: lining-nums tabular-nums slashed-zero;
}
