/**
 * OpenType features.
 *
 * Due to the poor support of the `font-variant-` properties we have to declare
 * their equivalents via the better supported, but harder to maintain,
 * `font-feature-settings` property. The `font-feature-settings` properties
 * should always come first.
 *
 * ✌︎ Resources and credit
 * http://utility-opentype.kennethormandy.com
 * http://kennethormandy.com/journal/normalize-opentype-css
 * https://helpx.adobe.com/typekit/using/open-type-syntax.html
 * https://practice.typekit.com/lesson/caring-about-opentype-features
 * https://typotheque.com/articles/opentype_features_in_css
 */

/**
 * Main root.
 *
 * Enable kerning, common/standard ligatures, contextual ligatures, and
 * proportional, oldstyle numerals for the entire document.
 *
 * NOTE: if any of the `font-feature-settings` values aren't needed on child
 * elements, e.g.: `<td>`, then you have to explicitly turn them off.
 */

html {
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'onum', 'pnum';
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: oldstyle-nums proportional-nums;
}

/**
 * Forms.
 */

/**
 * Specific input types, mostly numeric.
 *
 * Remove kerning and proportional, oldstyle numerals.
 * Enable lining numerals.
 */

[type='color'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='number'],
[type='range'],
[type='tel'],
[type='time'],
[type='week'] {
  font-feature-settings: 'kern' 0, 'onum' 0, 'lnum';
  font-kerning: none;
  font-variant-numeric: lining-nums;
}

/**
 * Inline text semantics.
 */

/**
 * normalize.css normalizes the `<sub>` and `<sup>` elements, however, if
 * user-agents support the `font-variant-position` property then we use that
 * instead and remove the relevant normalize.css styles.
 */

@supports (font-variant-position: sub) and (font-variant-position: super) {
  sub,
  sup {
    font-size: 100%;
    line-height: inherit;
    position: static;
  }

  sub {
    font-variant-position: sub;
  }

  sup {
    font-variant-position: super;
  }
}

/**
 * Remove kerning and common/standard ligatures.
 * Enable lining numerals, tabular numerals, and slashed zero.
 */

code,
kbd,
pre,
samp {
  font-feature-settings: 'kern' 0, 'liga' 0, 'clig' 0, 'onum' 0, 'pnum' 0,
    'tnum', 'lnum', 'zero';
  font-kerning: none;
  font-variant-ligatures: contextual;
  font-variant-numeric: lining-nums tabular-nums slashed-zero;
}

/**
 * Table content.
 *
 * Remove proportional and oldstyle numerals.
 * Enable lining numerals, tabular numerals, and slashed zero.
 */

td {
  font-feature-settings: 'onum' 0, 'pnum' 0, 'lnum', 'tnum', 'zero';
  font-variant-numeric: lining-nums tabular-nums slashed-zero;
}
